<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.fit.backend.fit_planner.mapper.MemberMapper">
	<resultMap id="book" type="com.fit.backend.fit_planner.dto.MemberDTO">
        <id     column="BOOK_NUM"    property="bookNum"/>
        <result column="TITLE"       property="title"/>
        <result column="PUBLISHER"   property="publisher"/>
        <result column="PRICE"       property="price"/>
        <result column="REG_DATE"    property="regDate"/>
        <result column="BOOK_INTRO"  property="bookIntro"/>
        <result column="CATE_NUM"    property="cateNum"/>
        <collection property="imgList" resultMap="bookImg"/>
    </resultMap>



</mapper>































